// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.isActive {
  background-color: orangered;
}

.notActive {
  background-color: lightgray;
}

.isactive:hover{
  background-color: darkred;
}

.notActive:hover{
  background-color: darkgray;
}